<!-- Footer -->
<footer data-name="footer-variation-2">
    <div class="top">
        <div class="holder">
            <div class="sections">
                <div class="section">
                    <a target="_self" href="/"><div class="footer-logo"></div></a>
                    <ul class='social'>
                        <a href="https://www.facebook.com/GoCapWay" target="_blank"><div data-name="Facebook"></div></a>
                        <a href="https://www.instagram.com/GoCapWay/" target="_blank"><div data-name="Instagram"></div></a>
                        <a href="https://twitter.com/GoCapWay" target="_blank"><div data-name="Twitter"></div></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UC-HSrywiV1HHQGLbVFWsgHA?app=desktop"><div data-name="YouTube"></div></a>
                        <a target="_blank" href="https://www.linkedin.com/company/capwayinc/"><div data-name="LinkedIn"></div></a>
                    </ul>
                </div>
            </div>
            <div class="sections">
                <div class="section">
                    <strong>COMPANY</strong>
                    <ul>
                        <li><a target="_self" href="/company">About</a></li>
                        <li><a target="_self" href="/press">Press</a></li>
                        <li><a target="_self" href="/events">Events</a></li>
                        <li><a target="_self" href="/shop">Shop</a></li>
                        <li><a target="_self" href="/join">Sign Up</a></li>
                    </ul>
                </div>
                <div class="section">
                    <strong>BANKING</strong>
                    <ul>
                        <li><a target="_self" href="/banking">Features</a></li>
                        <li><a target="_self" href="/whycapway">Why CapWay</a></li>
                        <li><a target="_self" href="javascript:void(0);">Open Account</a></li>
                        <li><a target="_self" href="javascript:void(0);">Deposit Money</a></li>

                    </ul>
                </div>
                <div class="section">
                    <strong>LEARN MONEY</strong>
                    <ul>
                        <li><a target="_self" href="/learnmoney">Learn Money</a></li>
                        <li><a target="_self" href="javascript:void(0);">Curriculum</a></li>
                        <li><a target="_self" href="javascript:void(0);">Challenges</a></li>
                        <li><a target="_self" href="/contributors">Contributors</a></li>
                        <li><a target="_self" href="/requestcontent">Request Content</a></li>
                    </ul>
                </div>
                <div class="section">
                    <strong>WORK WITH CAPWAY</strong>
                    <ul>
                        <li><a target="_self" href="/partners">Partner</a></li>
                        <li><a target="_self" href="javascript:void(0);">Ambassador</a></li>
                        <li><a target="_self" href="/contributors">Contributors</a></li>
                        <li><a target="_self" href="javascript:void(0);">Careers</a></li>
                    </ul>
                </div>
                <div class="section">
                    <strong>DOWNLOAD</strong>
                    <ul>
                        <li><a target="_blank" href="https://itunes.apple.com/us/app/capway/id1217543033?mt=8">for iOS</a></li>
                        <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.tbox.capway&hl=en">for Android</a></li>
                    </ul>
                </div>
                <div class="section">
                    <strong>SUPPORT</strong>
                    <ul>
                        <li><a target="_self" href="/legal/terms">Legal</a></li>
                        <li><a target="_self" href="/faq">FAQ</a></li>
                        <li><a target="_self" href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="holder">
            <div id="capway-copyright">All Right Reserved. Capway <span id="copyright-year"></span></div>
            <script>
                document.getElementById("copyright-year").innerHTML = (new Date()).getFullYear();
            </script>
        </div>
    </div>
</footer>
