<app-account-overview></app-account-overview>
<div class="holder">
  <div class="all-links">
    <div class="left-links">
      <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/account'}">
        <a [routerLink]="['all-transactions']">All Transactions</a>
      </div>
      <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
        <a [routerLink]="['deposits']">Deposits</a>
      </div>
      <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
        <a [routerLink]="['withdrawls']">Withdrawls</a>
      </div>
    </div>
    <div class="right-links">
      <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
        <a target="_self" href="security/accountsecurity">Advanced Search</a>
        <div class="arrow-icon"></div>
      </div>
    </div>
  </div>
  </div>
  <hr>
  <router-outlet></router-outlet>
