<div class="transaction">
  <div class="holder">
    <p class="help">If you would like to talk directly with customer service, please give us a call at 888-888-8888. For the call, we may ask for the date, merchant name, amount, or other relevant details or documents.</p>
    <div class="tracker">
      <p>Transaction</p>
      <p>Reason</p>
      <p>Details</p>
    </div>
    <h3>Please choose the reason</h3>
    <div class="reasons">
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Don't remember making this purchase.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Charged more than once.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Charged wrong amount.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Merchandise defective or not as expected.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Service not what I expected.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Cancel merchandise or service.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Returned merchandise but did not recieve credit.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Used another form of payment.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Didn't recieve goods or services.</p>
      </div>
      <hr>
      <div class="reason">
        <input type="checkbox">
        <p>Other</p>
      </div>
    </div>
    <div class="navigation">
    <a href="/security/dispute/details" class="button">Next</a>
    <a href="/security/dispute/transaction">Back</a>
    </div>
  </div>
</div>
