@import 'src/styles.scss';
.transaction {
  border: 1px solid black;
  .holder {
    max-width: 60rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;
    font-family: sofia-pro-regular;

    p.help{
      text-align: center;
      width: 46rem;
      color: #4A4A4A;
      font-size: .8rem;
      margin: 0 auto;
      padding-bottom: 3rem;
    }
    .tracker{
      display: flex;
    justify-content: space-between;
    width: 11rem;
    color: #4A4A4A;
    font-size: 0.8rem;
    margin: 0 auto;
    }
    h3{
      text-align: center;
    }
    .reasons{
      .reason{
        display:flex;
        align-items: center;
      }
      input{
        width: 2rem;
      }
    }
    .navigation{
          text-align: center;
    a{
      text-decoration: none;
      text-align: center;
      color: #00ACE2;
    }
    .button{
      background-color: #00ACE2;
      display: block;
      max-width: 20rem;
      padding: 1.1rem 3rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      margin: 2rem auto;
    }
  }

    .transactions{
      max-width: 60rem;
      padding-top: 5rem;
      margin: auto;
      font-family: sofia-pro-regular;
      color: #47494A;
      .pending{
          display: flex;
          justify-content: space-between;
          .left-pending{
            display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
          }
      }

      .latest{
          display: flex;
          justify-content: space-between;
      }
    }
  }
}
