<div class="transaction">
  <div class="holder">
    <p class="help">If you would like to talk directly with customer service, please give us a call at 888-888-8888. For the call, we may ask for the date, merchant name, amount, or other relevant details or documents.</p>
    <div class="tracker">
      <p>Transaction</p>
      <p>Reason</p>
      <p>Details</p>
    </div>
    <h3>Please select the trasaction to file a dispute</h3>
    <div class="transactions">
      <div class="pending">
        <div class="left-pending">
          <input type="checkbox">
          <div class="transaction-title">
            <h2>Transfers1 (PayPal)</h2>
            <p>1234 Broadway St. Chicago, IL 60625</p>
          </div>
        </div>
        <div class="right-pending">
          <h2>- $15.25</h2>
          <p>05/062019</p>
        </div>
      </div>
      <hr>
      <div class="pending">
        <div class="left-pending">
          <input type="checkbox">
          <div class="transaction-title">
            <h2>Transfers1 (PayPal)</h2>
            <p>1234 Broadway St. Chicago, IL 60625</p>
          </div>
        </div>
        <div class="right-pending">
          <h2>- $15.25</h2>
          <p>05/062019</p>
        </div>
      </div>
      <hr>
      <div class="pending">
        <div class="left-pending">
          <input type="checkbox">
          <div class="transaction-title">
            <h2>Transfers1 (PayPal)</h2>
            <p>1234 Broadway St. Chicago, IL 60625</p>
          </div>
        </div>
        <div class="right-pending">
          <h2>- $15.25</h2>
          <p>05/062019</p>
        </div>
      </div>
      <hr>
      <div class="pending">
        <div class="left-pending">
          <input type="checkbox">
          <div class="transaction-title">
            <h2>Transfers1 (PayPal)</h2>
            <p>1234 Broadway St. Chicago, IL 60625</p>
          </div>
        </div>
        <div class="right-pending">
          <h2>- $15.25</h2>
          <p>05/062019</p>
        </div>
      </div>
      <hr>
      <div class="pending">
        <div class="left-pending">
          <input type="checkbox">
          <div class="transaction-title">
            <h2>Transfers1 (PayPal)</h2>
            <p>1234 Broadway St. Chicago, IL 60625</p>
          </div>
        </div>
        <div class="right-pending">
          <h2>- $15.25</h2>
          <p>05/062019</p>
        </div>
      </div>
      <hr>
    </div>
    <a href="/security/dispute/reason" class="button">Next</a>
  </div>
</div>
