<app-account-overview></app-account-overview>
<div class="holder">
  <div class="notifications">
    <h2>Notifications</h2>
    <div class="options">
      <div class="deposits">
        <p>Receive notification for every deposit</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="withdrawls">
        <p>Receive notification for every withdrawls</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
  </div>
  <div class="messages">
    <h2>CapWay Messages</h2>
    <div class="capway-messages">
      <button class="accordion">Section 1</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>
      <button class="accordion">Section 2</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>
      <button class="accordion">Section 3</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>
    </div>
  </div>
</div>
