<div class="sub-menu">
<div class="holder">
  <div class="links">
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/account'}">
      <a target="_self" href="account/transactions">Transactions</a>
    </div>
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
      <a target="_self" href="account/goals">Goals</a>
    </div>
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
      <a target="_self" href="account/statements">Statements</a>
    </div>
    <div ng-if="isLoggedIn === true || isLoggedIn === false" class="header-option" ng-class="{'selected': location.$$url == '/learnmoney'}">
      <a target="_self" href="account/security">Security</a>
    </div>
    <div ng-if="isLoggedIn === true || isLoggedIn === false" class="header-option" ng-class="{'selected': location.$$url == '/learnmoney'}">
      <a target="_self" href="account/settings">Settings</a>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
