<div class="sub-menu">
<div class="holder">
  <div class="links">
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/account'}">
      <a [routerLink]="['transactions/all-transactions']">Transactions</a>
    </div>
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
      <a [routerLink]="['goals']">Goals</a>
    </div>
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
      <a [routerLink]="['statements']">Statements</a>
    </div>
    <div ng-if="isLoggedIn === true || isLoggedIn === false" class="header-option" ng-class="{'selected': location.$$url == '/learnmoney'}">
      <a [routerLink]="['security']">Security</a>
    </div>
    <div ng-if="isLoggedIn === true || isLoggedIn === false" class="header-option" ng-class="{'selected': location.$$url == '/learnmoney'}">
      <a [routerLink]="['settings']">Settings</a>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
