<div class="sub-menu">
<div class="holder">
  <div class="links">
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/account'}">
      <a target="_self" href="security/cardsecurity">Card Security</a>
    </div>
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
      <a target="_self" href="security/dispute/transaction">File a Dispute</a>
    </div>
    <div ng-if="isLoggedIn === true" class="header-option" ng-class="{'selected': location.$$url == '/banking'}">
      <a target="_self" href="security/accountsecurity">Account Security</a>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
