<div class="holder">
  <p>Transfers will be automatically deposited into the recievers's account</p>
  <div class="all-transfers">
    <div class="transfer-title">
      <div class="recent">
        <h3>Recent Transfer</h3>
      </div>
      <div class="new-transfer">
        <h3>New Transfer</h3>
      </div>
    </div>
    <div class="all-accounts">
      <div class="accounts">
        <div class="account">
          <div class="picture"></div>
          <p>Test Name</p>
        </div>
        <div class="account">
          <div class="picture"></div>
          <p>Test Name</p>
        </div>
        <div class="account">
          <div class="picture"></div>
          <p>Test Name</p>
        </div>
        <div class="account">
          <div class="picture"></div>
          <p>Test Name</p>
        </div>
      </div>
      <div class="transfers">
        <div class="account">
          <div class="title">
            <p>Account Name</p>
          </div>
          <input type="text">
        </div>
        <div class="account">
          <div class="title">
            <p>Account Number</p>
          </div>
          <input type="text">
        </div>
        <div class="account">
          <div class="title">
            <p>Routing Number</p>
          </div>
          <input type="text">
        </div>
      </div>
    </div>
    <div class="transfer-amount">
      <div class="transfer">
      <p>Amount</p>
      <input type="text">
      <button>Send Now</button>
      </div>
    </div>
  </div>
</div>
