@import 'src/styles.scss';

.holder {
  max-width: 60rem;
  padding-top: 1rem;
  margin: auto;
  font-family: sofia-pro-regular;

  p {
    text-align: center;
    width: 23rem;
    margin: 0 auto;
  }

  .all-transfers {
    max-width: 40rem;
    margin: auto;

    .transfer-title {
      display: flex;
      justify-content: space-between;

      .recent {
        h3 {
          color: #4A4A4A;
          border: 1px solid lightgrey;
          width: 19rem;
          text-align: center;
          padding: 0.5rem;
        }
      }

      .new-transfer {
        h3 {
          color: #4A4A4A;
          border: 1px solid lightgrey;
          width: 19rem;
          text-align: center;
          padding: 0.5rem;
        }
      }
    }

    .all-accounts {
      display: flex;

      .accounts {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgrey;
        width: 20.2rem;
        box-sizing: border-box;
        padding: 2rem 1rem 3rem;
        margin: -1.2rem 0 0;

        .account {
          display: flex;
          justify-content: space-between;
          width: 26rem;
          padding: 0.5rem 0;

          p {
            text-align: left;
          }

          .picture {
            background-image: url("src/assets/images/banking/chip.png");
            width: 1rem;
            height: 1rem;
            margin: 0 auto;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      .transfers {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgrey;
        width: 20.2rem;
        box-sizing: border-box;
        padding: 0 1rem 1rem;
        margin: -1.2rem 0 0;

        .account {
          .title {
            p {
              text-align: left;
              padding-top: 2rem;
            }
          }

          input {
            width: 18rem;
            height: 2rem;
            padding-bottom: 0;
            border-radius: 0.3rem;
            box-shadow: none;
          }
        }
      }
    }

    .transfer-amount {
      border: 1px solid lightgrey;
      width: 40.3rem;

      .transfer {
        margin: 0 auto;
        width: 20rem;

        p {
          text-align: left;
          padding: 1rem 0;
          font-size: 0.9rem;
        }

        input {
          width: 18rem;
          height: 2rem;
          padding-bottom: 0;
          border-radius: 0.3rem;
          border: 1px solid lightgray;
        }

        button {
          background-color: #00ACE2;
          display: block;
          max-width: 20rem;
          padding: 1.1rem 3rem;
          box-sizing: border-box;
          border-radius: 0.5rem;
          color: #FFFFFF;
          text-decoration: none;
          text-align: center;
          margin: 2rem auto;
        }
      }
    }
  }
}
