<div class="holder">
  <h1>Card Security</h1>
  <div class="card-options">
    <div class="card-stoppage">
      <div class="left">
        <div class="card"></div>
        <p>Frank White</p>
      </div>
      <div class="right">
        <h3>Turn on or off your card</h3>
        <div class="option">
          <h2>OFF</h2>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <h2>ON</h2>
        </div>
      </div>
    </div>
    <hr>
    <div class="loss">
    <div class="lost-left">
      <div class="debit">
        <h4>Debit Visa</h4>
        <p>XXXX-XXXX-XXXX-1234</p>
      </div>
      <div class="text">
        <h4>Lost or Stolen Card</h4>
        <p>Cancel and replace your card to prevent unauthorised use.</p>
      </div>
    </div>
    <div class="lost-right">
      <button>Card Lost</button>
      <button>Card Stolen</button>
    </div>
    </div>
    <hr>
    <div class="loss">
    <div class="lost-left">
      <div class="debit">
        <h4>Debit Visa</h4>
        <p>XXXX-XXXX-XXXX-1234</p>
      </div>
      <div class="text">
        <h4>Stop payment request</h4>
        <p>Continually initiate go forward leadership whereas.</p>
      </div>
    </div>
    <div class="lost-right">
      <button>Stop Payment</button>
    </div>
    </div>
  </div>
</div>
