@import 'src/styles.scss';

.holder{
  max-width: 60rem;
  padding-top: 5rem;
  margin: auto;
  font-family: sofia-pro-regular;
  h1{
    text-align: center;
    color:#005D7A;
  }
  .account-type{
    display: flex;
    justify-content: space-between;
    width: 21rem;
    margin: 0 auto;
    a{
      text-decoration: none;
      color: #00ACE2;
    }
  }

  hr{
    width: 30rem;
  }
}
