@import 'src/styles.scss';

.holder {
  max-width: 60rem;
  margin: 0 auto;
  font-family: sofia-pro-regular;
  padding-bottom: 2rem;
  .dates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .document-options{
      width: 10.5rem;
      justify-content: space-between;
      a{
        padding-left: 2rem;
        text-decoration: none;
        color: #00ACE2;
      }
    }
  }
}
