<div class="holder">
<h3>PENDING TRANSACTIONS *Withdrawls</h3>
<div class="pending">
  <div class="left-pending">
    <h2>Transfers1 (PayPal)</h2>
    <p>1234 Broadway St. Chicago, IL 60625</p>
  </div>
  <div class="right-pending">
    <h2>- $15.25</h2>
    <p>05/062019</p>
  </div>
</div>
<hr>
<div class="pending">
  <div class="left-pending">
    <h2>Transfers2 (PayPal)</h2>
    <p>1234 Broadway St. Chicago, IL 60625</p>
  </div>
  <div class="right-pending">
    <h2>- $15.25</h2>
    <p>05/062019</p>
  </div>
</div>
<hr>
<div class="pending">
  <div class="left-pending">
    <h2>Transfers3 (PayPal)</h2>
    <p>1234 Broadway St. Chicago, IL 60625</p>
  </div>
  <div class="right-pending">
    <h2>- $15.25</h2>
    <p>05/062019</p>
  </div>
</div>
<hr>
<h3>LATEST TRANSACTIONS</h3>
<div class="latest">
  <div class="left-latest">
    <h2>Transfers1 (PayPal)</h2>
    <p>1234 Broadway St. Chicago, IL 60625</p>
  </div>
  <div class="right-latest">
    <h2>- $15.25</h2>
    <p>05/062019</p>
  </div>
</div>
<hr>
<div class="latest">
  <div class="left-latest">
    <h2>Transfers2 (PayPal)</h2>
    <p>1234 Broadway St. Chicago, IL 60625</p>
  </div>
  <div class="right-latest">
    <h2>- $15.25</h2>
    <p>05/062019</p>
  </div>
</div>
<hr>
<div class="latest">
  <div class="left-latest">
    <h2>Transfers3 (PayPal)</h2>
    <p>1234 Broadway St. Chicago, IL 60625</p>
  </div>
  <div class="right-latest">
    <h2>- $15.25</h2>
    <p>05/062019</p>
  </div>
</div>
<hr>
<button>Load More</button>
</div>
