@import 'src/styles.scss';

.holder{
  max-width: 60rem;
  padding-top: 5rem;
  margin: auto;
  font-family: sofia-pro-regular;
  color: #47494A;
  .all-links{
    display: flex;
    justify-content: space-between;

    .left-links{
      display: flex;
      justify-content: space-between;
      width:20rem;
      a{
        text-decoration: none;
        color: #47494A;
      }

    }
    .right-links{

      a{
        text-decoration: none;
        color: #47494A;
      }

    }
  }

  h3{
    font-size: .9rem;
    margin-top: 5rem;
  }
  button{
    background-color: #00ACE2;
    display: block;
    max-width: 20rem;
    padding: 1.1rem 3rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin: 2rem auto;
  }
    .pending{
        display: flex;
        justify-content: space-between;
    }

    .latest{
        display: flex;
        justify-content: space-between;
    }
}
