<div class="holder">
  <div class="left">
    <div class="accountTotal">
      <p>Account Balance</p>
      <h1>XXX.XX</h1>
    </div>
    <div class="accountTotal">
      <p>Amount Pending</p>
      <h1>XXX.XX</h1>
    </div>
    <div class="card">
  <p>Card ending in XXXX</p>
  <a href="#">Card Settings</a>
</div>
</div>
  <div class="right">
    <div class="debit">
      <div class="logoLine">
        <div class="chip"></div>
        <div class="logo"></div>
      </div>
      <h3>1234 5678 9090 7654</h3>
      <h4>03/2020</h4>
      <H3>Frank White</H3>
      <h5>MEMBER SINCE 2019</h5>
    </div>
  </div>
</div>
