<div class="overview">
<div class="holder">
  <div class="left">
    <div class="accounts">
    <div class="accountTotal">
      <p>Account Balance</p>
      <h1>XXX.XX</h1>
    </div>
    <div class="accountTotal">
      <p>Amount Pending</p>
      <h1>XXX.XX</h1>
    </div>
    </div>
    <div class="card">
  <p>Card ending in XXXX</p>
  <a href="account/settings">Card Settings</a>
</div>
</div>
  <div class="right">
    <div class="debit">
      <div class="your-card">
        <h5>Frank White</h5>
      </div>
    </div>
  </div>
</div>
</div>
