@import 'src/styles.scss';

.overview {
  border: 1px solid black;
  height: 15rem;
  font-family: sofia-pro-regular;

  .holder {
    max-width: 60rem;
    height: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .left {
      display: flex;
      justify-content: space-between;
      width: 52rem;

      .accounts {
        width: 20rem;
        display: flex;
        justify-content: space-between;

        .accountTotal {
          display: flex;
          flex-direction: column;
        }
      }

        .card {
          display: flex;
          flex-direction: column;
          text-align: right;
          padding-left: 10rem;
          p{
            width: 10rem;
          }
          a{
            text-decoration: none;
            color: #00ACE2;
          }
        }
      }

    .right {
      .debit {
        .your-card {
          width: 20rem;
          height: 20rem;
          background-image: url("src/assets/images/overview/Capway-Card.svg");
          background-position: center center;
          background-size: contain;
          position: relative;
          background-repeat: no-repeat;
          display: inline-block;
          margin: 0 2rem 1rem;

          h5 {
            font-family: sofia-pro-regular;
            color: #00ace2;
            margin: 0.5rem auto 0;
            position: absolute;
            top: 12.9rem;
            left: 2rem;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
