<div class="holder">
  <p>Transfers will be deposited in 1-3 days.</p>
  <div class="all-accounts">
    <div class="transfers">
      <div class="account">
        <div class="title">
          <p>Account Name</p>
        </div>
        <input type="text">
      </div>
      <div class="account">
        <div class="title">
          <p>Account Number</p>
        </div>
        <input type="text">
      </div>
      <div class="account">
        <div class="title">
          <p>Routing Number</p>
        </div>
        <input type="text">
      </div>
      <div class="account">
        <div class="title">
          <p>Amount</p>
        </div>
        <input type="text">
        <button>Send Now</button>
      </div>
    </div>
</div>
</div>
